.main {
  padding: 2vw 3vw;
  margin-bottom: 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
  gap: 35px;
}

.project {
  min-height: 100px;
  transition: all 0.3s ease-out 0.08s;
  transition-property: transform, background-color, color;
}

.project:hover {
  background-color: var(--project-hover-bg-color);
  transform: translateY(-1vw);
  color: #000;
}

.project-image {
  width: 100%;
  height: 21vw;
  object-fit: cover;
  object-position: 50% 0%;
}

.project figcaption {
  padding: 20px;
}

.project figcaption p {
  font-size: 0.9em;
}

.caption-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.project-social-icons {
  display: flex;
  gap: 15px;
}

.project-social-icons a {
  color: var(--social-icons-color);
}

.project-social-icons a:hover {
  color: var(--accent);
}


/* MOBILE */
@media (max-width: 529px) {
  .main {
    padding: 0 20px 100px;
  }
  .projects-container {
    grid-template-columns: 1fr;
    gap: 55px;
  }
  .project-image {
    height: 45vw;
  }
  .main  h2{
    text-align: center;
  }
}

/* TABLET */
@media (min-width: 530px) and (max-width: 1000px) {
  .main {
    padding: 0 50px 60px;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  }
  .project-image {
    height: 25vw;
  }
}
