.header {
  position: relative;
  padding: 2vw 3vw;
  overflow: hidden;
}

.header-background {
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 130vw;
  height: 50vw;
  transform: rotate(-10deg) translate(-10vw, -26vw);
  background-color: var(--header-bg-color);
  animation: 0.75s ease-out slide-down-headerbg;
  animation-iteration-count: 1;
  max-height: 870px;
}

.header-content {
  position: relative;
  min-height: 34vw;
  max-height: 550px;
}

.profile_image_container {
  position: absolute;
  z-index: 2;
  line-height: 0;
  animation: 0.75s ease-out fadein-up;
  animation-iteration-count: 1;
}

.profile_image {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  object-position: 50% 5%;
  margin: 0;
  padding: 0;
  max-height: 500px;
}

.profile_title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 3;
  color: var(--profile-title-color);
  width: 100%;
  text-align: center;
  line-height: 1;
  text-shadow: 2px 2px var(--profile-image-boxshadow);
}

.header-text {
  position: absolute;
  z-index: 1;
  left: 29vw;
  top: 3vw;
  padding: 2vw 3vw 1vw;
  background-color: var(--header-content-bg-color);
  animation: 0.75s ease-out slide-left;
  animation-iteration-count: 1;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.social-icons a {
  color: var(--social-icons-color);
}

.social-icons a:hover {
  color: var(--link-text-hover-color);
}


/* MOBILE */

@media (max-width: 529px) {
  .header {
    padding: 20px;
    min-width: 100px;
  }  
  .header-background {
    width: 200vw;
    height: 90vw;
    transform: rotate(-30deg) translate(-20vw, -50vw);
    animation: 0.75s ease-out slide-down-headerbg-mobile;
    max-height: none;
  }
  .header-content {
    max-height: none;
  }
  .profile_image_container {
    position: relative;
    margin: 0 auto;
    box-shadow: none!important;
  }
  .profile_image {
    width: 100%;
    height: 90vh;
    max-height: 100vw;
    object-position: 50% 12%;
  }
  .header-text {
    position: static;
    padding-top: 20px;
    box-shadow: none!important;
  }
  .header-text  h2{
    text-align: center;
  }
  .social-icons {
    font-size: 1.5em;
    gap: 30px;
    justify-content: center;
  }
  h2 {
    font-size: 1.8em;
  }
}


/* TABLET */

@media (min-width: 530px) and (max-width: 1000px) {
  .header {
    padding: 90px 50px 50px 50px;
  }
  .header-background {
    height: 56vw;
  }  
  .header-content {
    height: auto;
  }
  .profile_image_container {
    position: relative;
    top: -60px;
    left: -30px;
    float: left;
    margin-right: -15px;
    margin-bottom: -60px;
  }
  .profile_image {
    width: 30vw;
    height: 32vw;
  }
  .profile_title {
    top: 10px;
    left: 125px;
    text-align: right;
    transform: translateX(0);
    white-space: nowrap;
  }
  .header-text {
    position: static;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header-text  h2{
    text-align: center;
  }
  .social-icons {
    display: none;
  }
}