@import "./typography-icons.css";
@import "./animations.css";
@import "./style-header.css";
@import "./style-main.css";
@import "./style-footer.css";

:root {
  --accent: #0891B2;
  --body-text-color: #4E4E4E;
  --profile-title-color: #fff;
  --profile-image-boxshadow: rgba(0,0,0,0.20);
  --header-content-bg-color: #fff;
  --social-icons-color: #222;
  --project-hover-bg-color: #dedede;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-display: swap;
  color: var(--body-text-color);
}

.boxshadow {
  box-shadow: 0 1px 10px var(--profile-image-boxshadow);
}
