.footer {
  padding: 3vw;
  background-color: var(--accent);
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 2fr;
  color: var(--footer-text-color);
}

address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 0.9em;
}

.footer-notice {
  max-width: 250px;
  margin-bottom: 20px;
}

address i {
  height: 1.1em;
}

address p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 25% 50%;
}

.footer address a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  font-size: 1.5em;
}

.footer-social-icons a {
  color: var(--social-icons-color);
}

.footer-social-icons a:hover {
  color: var(--footer-text-color);
}

/* TABLET */
@media (min-width: 530px) and (max-width: 1000px) {
  .footer {
    padding: 25px 50px;
    grid-template-columns: minmax(max-content, 1fr) 1fr;
  }
}

/* MOBILE */
@media (max-width: 529px) {
  .footer {
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
  }
  .contact-info {
    padding: 20px;
    margin: 0 auto;
  }
  .footer h2 {
    text-align: center;
  }
  .footer-image {
    height: 450px;
    object-fit: cover;
    object-position: 25% 50%;
  }
  .footer-social-icons {
    margin: 20px 0;
    font-size: 2em;
    gap: 30px;
    justify-content: center;
  }
}