@import "./typography-icons.css";
@import "./header.css";
@import "./animations.css";

:root {
  --accent: #596D48;
  --body-text-color: #4E4E4E;
  --header-bg-color: #0891B2;
  --profile-title-color: #fff;
  --profile-image-boxshadow: rgba(0,0,0,0.2);
  --header-content-bg-color: #fff;
  --social-icons-color: #222;
  --link-text-hover-color: #0891B2;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-display: swap;
  color: var(--body-text-color);
}

.boxshadow {
  box-shadow: 0.3vw 0.3vw 5px var(--profile-image-boxshadow);
}
